
Selection_Sort/.vs/Selection_Sort/DesignTimeBuild/.dtbcache
*.json
Selection_Sort/Selection_Sort/obj/Debug/netcoreapp2.0/Selection_Sort.csproj.FileListAbsolute.txt
Selection_Sort/Selection_Sort/obj/Debug/netcoreapp2.0/Selection_Sort.csprojAssemblyReference.cache
Selection_Sort/Selection_Sort/obj/Debug/netcoreapp2.0/Selection_Sort.dll
Selection_Sort/Selection_Sort/obj/Debug/netcoreapp2.0/Selection_Sort.pdb
*.pdb
*.dll
Selection_Sort/.vs/Selection_Sort/v15/Server/sqlite3/storage.ide-wal
Selection_Sort/.vs/Selection_Sort/v15/Server/sqlite3/storage.ide-shm
Selection_Sort/.vs/Selection_Sort/v15/Server/sqlite3/storage.ide
Selection_Sort/.vs/Selection_Sort/v15/.suo
Selection_Sort/.vs/Selection_Sort/v15/Server/sqlite3/storage.ide-wal
*.cache
